streamlit==1.41.1
streamlit-folium==0.25.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.80
langchain-openai==0.3.18
langchain-google-genai==2.0.10
google-generativeai==0.8.5
python-dotenv==1.1.0
folium==0.19.6
pandas==2.2.3
geopandas==1.0.1
shapely==2.1.1
requests==2.32.3
fiona==1.10.1
pyproj==3.7.1
mapclassify==2.9.0
matplotlib==3.10.3
