streamlit
streamlit-folium
langchain=0.3.25
langchain-community=0.3.25
langchain-core=0.3.80
langchain-openai=0.3.18
langchain-google-genai=2.0.10
google-generativeai=0.8.5
python-dotenv
folium
pandas
geopandas
shapely
requests
